body{
    font-family:'Gotham', sans-serif;
    background-color:white;
}
header{
    background-color:white;
}
.logo{
    width:400px;
    height:auto;
}
div.main-body{
    margin-top:5%;
}
.table.schedule{
    width:80%;
    margin:0 auto;
    text-align: center;
    font-size:14px;
}
footer{
    margin-top:5%;
    display: none;
}
.week-p{
    text-align: center;
}
.arrow{
    width:15px;
    height:auto;
}
.week-number{
    padding-top:2px
}